.solve-statistics {
    font-family: 'Inter', system-ui, sans-serif;
    animation: fadeIn 0.3s ease-out;
    text-align: center;
}

.solve-statistics__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.solve-statistics__item {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.solve-statistics__item__label {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1/2px;
    text-transform: uppercase;
}