.solving-item {
    display: flex;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.time {
    font-size: 2rem;
    font-weight: bold;
    align-content: center;
}

.scramble {
    display: flex;
    flex-direction: column;
}

.scramble h2 {
    font-size: 1rem;
    font-weight: bold;
}