.layout {
    display: flex;
    min-height: 100vh;
}

.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

aside {
    position: fixed;
    margin: 2rem;
    right: 0;
    width: 300px;
}