/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

body {
    background-color: #1f1f1f;
    color-scheme: dark;
}

:root {
    --accent-color: rgba(255, 255, 255, 0.15);
    --background-color: rgba(255, 255, 255, 0.08);
}

.primary-container {
    background: var(--background-color);
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    border: 1px solid var(--accent-color);
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;
    color: white;
    margin: 0 0.25rem;
}